.container {
  height: 55vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.eventContainer {
  flex-grow: 3;
  height: 100%;
}

.movieContainer {
  height: 55vh;
  width: 20vw;
  background-color: blue;
}

.movieBox {
  width: 20vw;
  height: 55vh;
  padding-right: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movieVote {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.movie {
  display: flex;
  justify-content: flex-end;
  border: 1px dotted red;
  height: 50vh;
  width: 25vw;
}
