.container {
  height: 60vh;
}

.content {
  display: flex;
  width: 100vw;
}

.eventBox {
  flex-grow: 2;
}

.movieBox {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 40vw;
  overflow: hidden;
}

.movie {
  height: 50%;
  width: 40%;
  margin: 0.5em;
}
