.container {
  height: 200vh;
}

.heading {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox {
  width: 40%;
  height: 50vh;
  background-color: #ba3c42; /* MUI primary color */
  padding: 1em; /* Add padding for better spacing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  height: 10vh;
  width: 20vh;
  margin-top: 1em;
}
